/* Variables CSS para colores y radios de borde */
:root {
    --border-radius: .8rem;
    --color-white: #fff;
    --color-dark: #004B49;
    /* Pantone B 7693 U */
    --color-primary: #2e4d50;
    /* Pantone P 123-16 U */
    --color-accent: #376063;
    /* Tono complementario de P 123-16 U */
    --color-background-light: #f9fafb;
    --color-shadow-light: #d0eafc;
    --color-shadow-medium: rgba(44, 62, 80, 0.08);
    --color-gradient-start: #518A99;
    /* Pantone P 120-5 U */
    --color-gradient-end: #2e4d50;
    /* Pantone P 123-16 U */
    --color-success-bg: #d4edda;
    --color-success-border: #828a74;
    --color-success-text: #155724;
    --color-text-dark: #333;
    --color-border-light: #b0b0b0;
    --color-gray-text: #6b7280;
    --color-gray-dark-text: #1f2937;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

html {
    scrollbar-width: none;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(135deg, var(--color-gradient-start), var(--color-gradient-end));
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-dark-text);
    overflow: visible;
    -ms-overflow-style: auto;
}

html {
    overflow-y: scroll;
}

.app-layout-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-left: 250px;
    transition: padding-left 0.3s ease;
}

.app-layout-wrapper.sidebar-closed {
    padding-left: 60px;
}

#main-content-area {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}


.custom-scrollbar-track {
    position: fixed;
    right: 15px;
    top: 20px;
    bottom: 20px;
    width: 8px;
    background-color: rgba(81, 138, 153, 0.1);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.custom-scrollbar-track.active {
    opacity: 1;
}

.custom-scrollbar-thumb {
    width: 100%;
    background-color: rgba(46, 77, 80, 0.5);
    border-radius: 4px;
    cursor: grab;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    transition: background-color 0.2s ease;
}

.custom-scrollbar-thumb:active {
    cursor: grabbing;
    background-color: rgba(55, 96, 99, 0.7);
}

@media (max-width: 768px) {
    .app-layout-wrapper {
        flex-direction: column;
        padding-left: 0;
        padding-top: 60px;
    }

    .app-layout-wrapper.sidebar-closed {
        padding-left: 0;
        padding-top: 60px;
    }
}