@use 'variables';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(135deg, variables.$color-gradient-start, variables.$color-gradient-middle-1, variables.$color-gradient-middle-2, variables.$color-gradient-end);
    background-size: 400% 400%;
    animation: gradientAnimation 30s ease infinite;
    box-sizing: border-box;
    color: variables.$color-text-dark;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

html {
    scrollbar-width: none;
}