@use 'variables';

.app-layout-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.custom-scrollbar-track {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    width: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 100;
}

.custom-scrollbar-track.active {
    opacity: 1;
    pointer-events: auto;
}

.custom-scrollbar-thumb {
    width: 100%;
    background-color: var(--color-primary);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: grab;
    transition: background-color 0.2s ease;
}

.custom-scrollbar-thumb:active {
    cursor: grabbing;
}

body.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}