.reports-box {
    width: 90%;
    max-width: 30px;
    padding: 1.8rem;
    background: #e8e6e6;
    border-radius: var(--border-radius);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transition: height 0.4s cubic-bezier(.4, 1.7, .7, 1), box-shadow 0.3s ease;
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reports-tabs {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
    background: #f0f4f8;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.reports-tab {
    flex: 1;
    background: none;
    border: none;
    font-size: 1.1rem;
    font-family: "Poppins";
    padding: 1rem 0;
    cursor: pointer;
    color: var(--color-text-dark);
    position: relative;
    z-index: 2;
    transition: color 0.2s;
    font-weight: 600;
}

.reports-tab.active {
    color: var(--color-white);
}

.tab-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--color-primary);
    border-radius: 1rem;
    z-index: 1;
    transition: left 0.4s cubic-bezier(.4, 1.7, .7, 1);
}

.reports-tab.active~.tab-indicator {
    left: 0;
}